@charset "utf-8";
body {
	background-image: url(../images/desk-long.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-size:cover;
}
.container.top .login img {
	width: 100%;
}

.container.top {
	padding-top: 50px;
	padding-bottom: 50px;
}
.container.top .login {
	width: 26%;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 50px;
}
.container.top .text-center.btn_m .btn-group {
	margin-right: 3%;
	margin-left: 3%;
}
.container-fluid .nr {
	background-color: rgba(255,255,255,1);
	padding-top: 20px;
	padding-bottom: 20px;
}
.container-fluid .nr2 {
	background-color: rgba(128,219,220,0.5);
	padding-top: 20px;
	padding-bottom: 20px;
}
.container-fluid .row  h3 {
	text-align: center;
	font-weight: bolder;
	font-size: 36px;
}
.container-fluid .row  p {
	text-align: center;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
}


.container-fluid .row  .yuan {
	height: 120px;
	border: 3px solid rgba(0,0,0,1);
	border-radius: 80px;
	width: 120px;
	font-size: 90px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	line-height: 120px;
	padding-top: 13px;
}
.container-fluid .row  .yuan:hover{
	height: 120px;
	border: 3px solid rgba(204,204,204,1);
	border-radius: 80px;
	width: 120px;
	font-size: 90px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	line-height: 120px;
	padding-top: 13px;
	color: rgba(204,204,204,1);
	background-color: rgba(51,51,51,1);
}
.foot {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #000000;
	text-align: center;
}
.container-fluid.foot .container h4 {
	color: #FFFFFF;
	padding-bottom: 20px;
}
.container-fluid.foot .container .z .btn {
	margin-right: 30px;
	margin-left: 30px;
}
.container-fluid.foot .container .link a {
	color: #FFFFFF;
}
.container-fluid.foot .container .link {
	margin-top: 20px;
	margin-bottom: 20px;
}
.copy {
	background-color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	padding-top: 20px;
	padding-bottom: 20px;
}
@media screen and (max-width:768px){
	.container.top .text-center.btn_m .btn-group .dropdown-menu{
	width: 100%;
	top: 30px;
		}
body {
	background-image: url(../images/desk-mini.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
.container.top .text-center.btn_m .btn-group{
	display: inline-block;
	padding: 0px;
	width: 80%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.container.top .text-center.btn_m .btn-group button:first-child {
	width: 90%;
}
.container.top .text-center.btn_m .btn-group button:nth-child(2)  {
	width: 10%;
}
		
}
